<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WQB8RVR');</script>
<!-- End Google Tag Manager -->

    <meta charset="UTF-8">
    <title>AEG | Asociación de Egresados y Graduados - PUCP </title>
    <link rel="profile" href="http://gmpg.org/xfn/11">
    
<!-- This site is optimized with the Yoast SEO plugin v13.1 - https://yoast.com/wordpress/plugins/seo/ -->
<meta name="description" content="Mantén el vínculo con tu alma máter. En la AEG buscamos fortalecer el lazo entre la PUCP y sus egresados y graduados. Conoce también todos los beneficios que tenemos para nuestros asociados."/>
<meta name="robots" content="max-snippet:-1, max-image-preview:large, max-video-preview:-1"/>
<link rel="canonical" href="https://aeg.pucp.edu.pe/" />
<link rel="next" href="https://aeg.pucp.edu.pe/page/2/" />
<meta property="og:locale" content="es_ES" />
<meta property="og:type" content="website" />
<meta property="og:title" content="AEG | Asociación de Egresados y Graduados PUCP" />
<meta property="og:description" content="Mantén el vínculo con tu alma máter. En la AEG buscamos fortalecer el lazo entre la PUCP y sus egresados y graduados. Conoce también todos los beneficios que tenemos para nuestros asociados." />
<meta property="og:url" content="https://aeg.pucp.edu.pe/" />
<meta property="og:site_name" content="AEG | Asociación de Egresados y Graduados" />
<meta property="og:image" content="https://aeg.pucp.edu.pe/wp-content/uploads/2019/09/asociacion-de-egresados-y-graduados-aeg.jpg" />
<meta property="og:image:secure_url" content="https://aeg.pucp.edu.pe/wp-content/uploads/2019/09/asociacion-de-egresados-y-graduados-aeg.jpg" />
<meta property="og:image:width" content="694" />
<meta property="og:image:height" content="478" />
<script type='application/ld+json' class='yoast-schema-graph yoast-schema-graph--main'>{"@context":"https://schema.org","@graph":[{"@type":"WebSite","@id":"https://aeg.pucp.edu.pe/#website","url":"https://aeg.pucp.edu.pe/","name":"AEG | Asociaci\u00f3n de Egresados y Graduados","inLanguage":"es","potentialAction":{"@type":"SearchAction","target":"https://aeg.pucp.edu.pe/?s={search_term_string}","query-input":"required name=search_term_string"}},{"@type":"CollectionPage","@id":"https://aeg.pucp.edu.pe/#webpage","url":"https://aeg.pucp.edu.pe/","name":"AEG | Asociaci\u00f3n de Egresados y Graduados -","isPartOf":{"@id":"https://aeg.pucp.edu.pe/#website"},"inLanguage":"es","description":"Mant\u00e9n el v\u00ednculo con tu alma m\u00e1ter. En la AEG buscamos fortalecer el lazo entre la PUCP y sus egresados y graduados. Conoce tambi\u00e9n todos los beneficios que tenemos para nuestros asociados."}]}</script>
<!-- / Yoast SEO plugin. -->

<link rel='dns-prefetch' href='//s.w.org' />
		<script type="text/javascript">
			window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/12.0.0-1\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/12.0.0-1\/svg\/","svgExt":".svg","source":{"concatemoji":"https:\/\/aeg.pucp.edu.pe\/wp-includes\/js\/wp-emoji-release.min.js?ver=5.3.2"}};
			!function(e,a,t){var r,n,o,i,p=a.createElement("canvas"),s=p.getContext&&p.getContext("2d");function c(e,t){var a=String.fromCharCode;s.clearRect(0,0,p.width,p.height),s.fillText(a.apply(this,e),0,0);var r=p.toDataURL();return s.clearRect(0,0,p.width,p.height),s.fillText(a.apply(this,t),0,0),r===p.toDataURL()}function l(e){if(!s||!s.fillText)return!1;switch(s.textBaseline="top",s.font="600 32px Arial",e){case"flag":return!c([127987,65039,8205,9895,65039],[127987,65039,8203,9895,65039])&&(!c([55356,56826,55356,56819],[55356,56826,8203,55356,56819])&&!c([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]));case"emoji":return!c([55357,56424,55356,57342,8205,55358,56605,8205,55357,56424,55356,57340],[55357,56424,55356,57342,8203,55358,56605,8203,55357,56424,55356,57340])}return!1}function d(e){var t=a.createElement("script");t.src=e,t.defer=t.type="text/javascript",a.getElementsByTagName("head")[0].appendChild(t)}for(i=Array("flag","emoji"),t.supports={everything:!0,everythingExceptFlag:!0},o=0;o<i.length;o++)t.supports[i[o]]=l(i[o]),t.supports.everything=t.supports.everything&&t.supports[i[o]],"flag"!==i[o]&&(t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&t.supports[i[o]]);t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&!t.supports.flag,t.DOMReady=!1,t.readyCallback=function(){t.DOMReady=!0},t.supports.everything||(n=function(){t.readyCallback()},a.addEventListener?(a.addEventListener("DOMContentLoaded",n,!1),e.addEventListener("load",n,!1)):(e.attachEvent("onload",n),a.attachEvent("onreadystatechange",function(){"complete"===a.readyState&&t.readyCallback()})),(r=t.source||{}).concatemoji?d(r.concatemoji):r.wpemoji&&r.twemoji&&(d(r.twemoji),d(r.wpemoji)))}(window,document,window._wpemojiSettings);
		</script>
		<style type="text/css">
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
</style>
	<link rel='stylesheet' id='wp-block-library-css'  href='https://aeg.pucp.edu.pe/wp-includes/css/dist/block-library/style.min.css?ver=5.3.2' type='text/css' media='all' />
<link rel='stylesheet' id='slb_core-css'  href='https://aeg.pucp.edu.pe/wp-content/plugins/simple-lightbox/client/css/app.css?ver=2.7.1' type='text/css' media='all' />
<link rel='https://api.w.org/' href='https://aeg.pucp.edu.pe/wp-json/' />
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://aeg.pucp.edu.pe/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://aeg.pucp.edu.pe/wp-includes/wlwmanifest.xml" /> 
<meta name="generator" content="WordPress 5.3.2" />
            <script type="text/javascript">  var ajaxurl = 'https://aeg.pucp.edu.pe/wp-admin/admin-ajax.php'; </script>
            <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap" rel="stylesheet">   
    <link rel="stylesheet" href="https://aeg.pucp.edu.pe/wp-content/themes/theme/style.css">
    <link rel="stylesheet" href="https://aeg.pucp.edu.pe/wp-content/themes/theme/css/bootstrap.min.css">
	
   <link rel="apple-touch-icon" sizes="57x57" href="https://s3.amazonaws.com/files.pucp.edu.pe/pucp-general/img-header/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="https://s3.amazonaws.com/files.pucp.edu.pe/pucp-general/img-header/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="https://s3.amazonaws.com/files.pucp.edu.pe/pucp-general/img-header/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="https://s3.amazonaws.com/files.pucp.edu.pe/pucp-general/img-header/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="https://s3.amazonaws.com/files.pucp.edu.pe/pucp-general/img-header/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="https://s3.amazonaws.com/files.pucp.edu.pe/pucp-general/img-header/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="https://s3.amazonaws.com/files.pucp.edu.pe/pucp-general/img-header/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="https://s3.amazonaws.com/files.pucp.edu.pe/pucp-general/img-header/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="https://s3.amazonaws.com/files.pucp.edu.pe/pucp-general/img-header/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="https://s3.amazonaws.com/files.pucp.edu.pe/pucp-general/img-header/favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="https://s3.amazonaws.com/files.pucp.edu.pe/pucp-general/img-header/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="https://s3.amazonaws.com/files.pucp.edu.pe/pucp-general/img-header/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="https://s3.amazonaws.com/files.pucp.edu.pe/pucp-general/img-header/favicon/favicon-16x16.png">
	<link rel="manifest" href="https://s3.amazonaws.com/files.pucp.edu.pe/pucp-general/img-header/favicon/manifest.json">
	<link rel="shortcut icon" href="https://s3.amazonaws.com/files.pucp.edu.pe/pucp-general/img-header/favicon/favicon.ico">
    <link rel="icon" type="image/png" href="https://s3.amazonaws.com/files.pucp.edu.pe/pucp-general/img-header/favicon/favicon-32x32.png" sizes="32x32">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="https://s3.amazonaws.com/files.pucp.edu.pe/pucp-general/img-header/favicon/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">

	
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WQB8RVR"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

     <style>
    .menuprin-nav {
      padding-top: 0;
      padding-bottom: 0;
    }
    ul#menu-menu-principal.navbar-nav li.xxlxx.nav-item.home.d-none.d-lg-block a{
      background: #0069BE url(https://s3-us-west-2.amazonaws.com/cdn01.pucp.education/aeg/2019/08/20230440/i-home.png) center no-repeat;	  
    } 
  </style><header>
    
 
<style>
    .wrapper-up {
        background: #042354;
    }
    .wrapper-up .logos-wrapper a > img{
        margin: 25px 20px 25px 0px;
        height: 60px;
    }
    .navbar-brand.d-lg-none{
      background: none;
    }
    @media (max-width: 768px){
      .wrapper-up .logos-wrapper a > img{
            margin: 20px 20px 20px 5px;
            height: 48px;
        }
        .navbar-brand.d-lg-none{
     width: 20%;
    }
    }
</style>
                          
  <div class="wrapper-up">
    <div class="container menuprin-cont">
      <div class="row align-items-center">
        <div class="col-lg-12">
          <div class="logos-wrapper">
            <a class="navbar-brand" href="https://aeg.pucp.edu.pe">
              <img src="https://s3.amazonaws.com/files.pucp.edu.pe/pucp-general/img-header/aeg.svg" alt="Clima de Cambios PUCP" class="logo-unidad">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

    <div class="menuprin-wrapper d-none d-lg-block">
      <div class="container menuprin-cont-nav">
        <nav class="navbar menuprin-nav navbar-expand-lg navbar-dark">
          <a class="navbar-brand d-lg-none" href="https://aeg.pucp.edu.pe"></a>
          <button class="navbar-toggler pr-0 pl-0" type="button" data-toggle="collapse" data-target="#navbars"
          aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>        
        <!-- inicio men  --> 
        <div class="collapse menu-prin navbar-collapse"><nav class="menuprin-wrapper"><ul id="menu-menu-principal" class="navbar-nav">
                                    <li class="xxlxx nav-item home d-none d-lg-block"><a href="https://aeg.pucp.edu.pe"></a></li>
                                    <li id="menu-item-757" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-757"><a href="https://aeg.pucp.edu.pe/nosotros/">Nosotros</a>
<ul class="sub-menu">
	<li id="menu-item-3127" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3127"><a href="https://aeg.pucp.edu.pe/nosotros/quienes-somos/">Quiénes somos</a></li>
	<li id="menu-item-3129" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3129"><a href="https://aeg.pucp.edu.pe/nosotros/consejo-directivo/">Consejo Directivo y Junta Calificadora</a></li>
	<li id="menu-item-3130" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3130"><a href="https://aeg.pucp.edu.pe/nosotros/equipo-de-trabajo/">Equipo de trabajo</a></li>
	<li id="menu-item-3131" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3131"><a href="https://aeg.pucp.edu.pe/nosotros/plan-estrategico-aeg/">Plan Estratégico AEG</a></li>
	<li id="menu-item-3132" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3132"><a href="https://aeg.pucp.edu.pe/nosotros/documentos-institucionales/">Documentos institucionales</a></li>
</ul>
</li>
<li id="menu-item-3134" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-3134"><a href="https://aeg.pucp.edu.pe/unete-a-la-aeg/">Únete a la AEG</a>
<ul class="sub-menu">
	<li id="menu-item-3136" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3136"><a href="https://aeg.pucp.edu.pe/unete-a-la-aeg/conoce-nuestros-beneficios/">Beneficios</a></li>
	<li id="menu-item-3137" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3137"><a href="https://aeg.pucp.edu.pe/unete-a-la-aeg/afiliacion/">Afíliate</a></li>
	<li id="menu-item-3138" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3138"><a href="https://aeg.pucp.edu.pe/unete-a-la-aeg/preguntas-frecuentes/">Preguntas frecuentes</a></li>
</ul>
</li>
<li id="menu-item-3139" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3139"><a href="https://aeg.pucp.edu.pe/ex-alumnos-distinguidos/">Exalumnos distinguidos</a></li>
<li id="menu-item-3140" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-3140"><a href="https://aeg.pucp.edu.pe/comunidades-en-el-extranjero/">Comunidades  en el extranjero</a>
<ul class="sub-menu">
	<li id="menu-item-3141" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3141"><a href="https://aeg.pucp.edu.pe/comunidades-en-el-extranjero/sobre-nuestras-comunidades/">Nuestras comunidades</a></li>
	<li id="menu-item-3142" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3142"><a href="https://aeg.pucp.edu.pe/comunidades-en-el-extranjero/actividades-en-el-extranjero/">Actividades en el extranjero y publicaciones</a></li>
	<li id="menu-item-3143" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3143"><a href="https://aeg.pucp.edu.pe/comunidades-en-el-extranjero/boletin-aeg-mundo/">Boletín AEG Mundo</a></li>
</ul>
</li>
<li id="menu-item-3147" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3147"><a href="https://aeg.pucp.edu.pe/actividades/">Actividades</a></li>
<li id="menu-item-3144" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-3144"><a href="https://aeg.pucp.edu.pe/publicaciones/">Publicaciones</a>
<ul class="sub-menu">
	<li id="menu-item-3146" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3146"><a href="https://aeg.pucp.edu.pe/publicaciones/revista-brujula/">Revista Brújula</a></li>
	<li id="menu-item-3145" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3145"><a href="https://aeg.pucp.edu.pe/publicaciones/otras-publicaciones/">Otras publicaciones</a></li>
</ul>
</li>
<li id="menu-item-3148" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-3148"><a href="https://aeg.pucp.edu.pe/actualiza-tus-datos/">Actualiza tus datos</a>
<ul class="sub-menu">
	<li id="menu-item-3149" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3149"><a href="https://aeg.pucp.edu.pe/actualiza-tus-datos/refuerza-el-vinculo/">Refuerza el vínculo</a></li>
	<li id="menu-item-3150" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3150"><a href="https://aeg.pucp.edu.pe/actualiza-tus-datos/alumni-en-cifras/">Alumni en cifras</a></li>
</ul>
</li>
<li id="menu-item-2050" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2050"><a href="https://aeg.pucp.edu.pe/novedades-brujula/">Novedades</a></li>
</ul></nav></div>        <!-- fin menu -->      
        </nav>
      </div>
    </div>

 <div id="mainmovil" class="mainmovil d-block d-lg-none">
      <div class="container menuprin-cont-nav">
        <nav class="navbar menuprin-nav navbar-expand-lg navbar-dark">
          <a class="navbar-brand d-lg-none" href="https://aeg.pucp.edu.pe"></a>
          <button class="navbar-toggler pr-0 pl-0" type="button" data-toggle="collapse" data-target="#navbars"
          aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse menu-prin navbar-collapse" id="navbars">
          <nav class="menuprin-wrapper"><ul id="menu-movil-principal" class="navbar-movil accordion">
           <li class="xxlxx nav-item home d-none d-lg-block">
            <a href="#" title="home"></a>
          </li>


          <!---->
          <li class="current-page-ancestor current-menu-ancestor current-menu-parent current-page-parent current_page_parent current_page_ancestor menu-item-has-children">
            <a href="#" class="nav-link dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">Nosotros</a>
            <ul class="sub-menu">
              <li class="current-menu-item"><a href="https://aeg.pucp.edu.pe/nosotros/quienes-somos/" aria-current="page">Quiénes Somos</a></li>
              <li><a href="https://aeg.pucp.edu.pe/nosotros/bienvenida-del-presidente/">Bienvenida del Presidente</a></li>
              <li><a href="https://aeg.pucp.edu.pe/nosotros/consejo-directivo/">Consejo Directivo</a></li>
              <li class="menu-item-object-custom"><a href="https://aeg.pucp.edu.pe/nosotros/equipo-de-trabajo/">Equipo de Trabajo</a></li>
              <li><a href="https://aeg.pucp.edu.pe/nosotros/plan-estrategico-aeg/">Plan Estratégico AEG</a></li>
              <li><a href="https://aeg.pucp.edu.pe/nosotros/documentos-institucionales/">Documentos Institucionales</a></li>
            </ul>
          </li>

          <!---->
          <li class=" menu-item-has-children"><a href="https://aeg.pucp.edu.pe/">Únete a la AEG</a>
            <ul class="sub-menu">
              <li><a href="https://aeg.pucp.edu.pe/unete-a-la-aeg/presentacion/">Presentación</a></li>
              <li><a href="https://aeg.pucp.edu.pe/unete-a-la-aeg/conoce-nuestros-beneficios/">Conoce nuestros beneficios</a></li>
              <li><a href="https://aeg.pucp.edu.pe/unete-a-la-aeg/afiliacion/">Afiliación</a></li>
              <li><a href="https://aeg.pucp.edu.pe/unete-a-la-aeg/preguntas-frecuentes/">Preguntas Frecuentes</a></li>
            </ul>
          </li>
          <!---->

          <li class=" menu-item"><a href="https://aeg.pucp.edu.pe/ex-alumnos-distinguidos/">ExAlumnos Distinguidos</a></li>

          <!---->
          <li class=" menu-item-has-children"><a href="https://aeg.pucp.edu.pe/comunidades-en-el-extranjero/">Comunidades en el extranjero</a>
            <ul class="sub-menu">
              <li><a href="https://aeg.pucp.edu.pe/comunidades-en-el-extranjero/sobre-nuestras-comunidades/">Sobre Nuestras Actividades</a></li>
               <li><a href="https://aeg.pucp.edu.pe/comunidades-en-el-extranjero/actividades-en-el-extranjero/">Actividades en el Extranjero</a></li>
              <li><a href="https://aeg.pucp.edu.pe/comunidades-en-el-extranjero/boletin-aeg-mundo/">Boletín AEG Mundo</a></li>
            </ul>
          </li>
          <!---->

          <li class="menu-item"><a href="https://aeg.pucp.edu.pe/actividades/">Actividades</a></li>
          <!---->

          <li class=" menu-item-has-children"><a href="https://aeg.pucp.edu.pe/publicaciones/">Publicaciones</a>
            <ul class="sub-menu">
              <li><a href="https://aeg.pucp.edu.pe/publicaciones/revista-brujula/">Revista Brújula</a></li>
              <li><a href="https://aeg.pucp.edu.pe/publicaciones/otras-publicaciones/">Otras Publicaciones</a></li>
            </ul>
          </li>
          <!---->

          <li class="menu-item-has-children dcjq-parent-li"><a href="https://aeg.pucp.edu.pe/actualiza-tus-datos/" class="dcjq-parent">Actualiza tus datos</a>
            <ul class="sub-menu" style="display: none;">
              <li><a href="https://aeg.pucp.edu.pe/actualiza-tus-datos/refuerza-el-vinculo/">Refuerza el Vínculo</a></li>
              <li><a href="https://aeg.pucp.edu.pe/actualiza-tus-datos/alumni-en-cifras/">Alumni en Cifras</a></li>
            </ul>
          </li>
          <!---->

          <li class=" menu-item-has"><a href="https://aeg.pucp.edu.pe/novedades-brujula/">Novedades</a></li>
          <!---->

        </ul>
      </li>     
      <!---->      
      <li class="nav-item d-lg-none search-mobile">
        <div class="search-mobile">
          <form action="https://aeg.pucp.edu.pe/" method="get" id="searchformmovil">
            <input class="search-input" type="text" id="s"  name="s" value="" placeholder="Buscar">
            <input type="submit" class="search-submit" value="">
          </form>
        </div>
      </li> 
      <!---->
    </ul>
  </nav>
</div>
</nav>
</div>
</div>



<!--menusec-->
<div class="menu-sec">
  <div class="container text-right">
    <div class="liredes">
        <div class="lir lface"><a target="_blank" href="https://www.facebook.com/egresadosygraduadosPUCP"><img src="https://aeg.pucp.edu.pe/wp-content/themes/theme/images/iface.svg"></a></div>        <div class="lir ltwit"><a target="_blank" href="https://twitter.com/egresadosPUCP"><img src="https://aeg.pucp.edu.pe/wp-content/themes/theme/images/itwit.svg"></a></div>        <div class="lir lyou"><a target="_blank" href="https://www.youtube.com/user/aegpucp"><img src="https://aeg.pucp.edu.pe/wp-content/themes/theme/images/iyoutube.svg"></a></div>        <div class="lir llink"><a target="_blank" href="https://pe.linkedin.com/company/asociacion-de-egresados-y-graduados-de-la-pucp"><img src="https://aeg.pucp.edu.pe/wp-content/themes/theme/images/ilink.svg"></a></div>      <div class="lir llink"><a href="https://aeg.pucp.edu.pe/contacto/"><img src="https://aeg.pucp.edu.pe/wp-content/themes/theme/images/mail2.svg"></a></div>
      <div class="lir search-bsdprofile d-none d-lg-block">
        <div id='search-box'>
          <form action="https://aeg.pucp.edu.pe/" method="get" id="searchform">
            <input id="s" itemprop='query-input' name='s' placeholder='Buscar...' required='required' type='text' />
            <button class='search-bsdbutton' title='Search' type='submit'><i class='fa fa-search'></i></button>
          </form>
        </div>
        <div class='bsdprofile' id='bsdprofile'>

        </div>
        <div class='search-icon' onclick='openbsdprofile()'>
          <div class="fa-stack" id="search-icon">
            <i class="fa fa-square fa-stack-2x"><img src="https://aeg.pucp.edu.pe/wp-content/themes/theme/images/ilupa.svg"></i>
          </div>
          <div class="fa-stack" id="close-icon">
            <i class="fa fa-square fa-stack-2x"><img src="https://aeg.pucp.edu.pe/wp-content/themes/theme/images/ilupa.svg"></i>
          </div>
        </div>
      </div>
    </div>
    <!---->
  </div>
</div>
<!--fin menusec-->


</header>
<!--fin de header-->
<section class="zdestacados">

  <div class="container">
    <div class="grupo-slides">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li><li data-target="#carouselExampleIndicators" data-slide-to="1" class=""></li><li data-target="#carouselExampleIndicators" data-slide-to="2" class=""></li>       
        </ol>

        <div class="carousel-inner">
        <div class="carousel-item active">     
                            <div class="row">
                              <div class="col-lg-7">
                                <div class="cont-izq">
                                  <img class="d-block" src="https://aeg.pucp.edu.pe/wp-content/uploads/2023/06/br.jpg" alt="Brújula #104">
                                </div>
                              </div>
                              <div class="col-lg-5">
                                <div class="cont-der p-4 pt-md-4 pb-md-4 pl-md-2 pr-md-5">
                                  
                                  <img class="logito" src="https://aeg.pucp.edu.pe/wp-content/themes/theme/images/logo-aeg-small.png">
                                  <h3 class="titu-celeste">Brújula #104</h3>
                                  <p>La revista de los egresadosPUCP.<br />
Entérate de todas las novedades de la universidad, opiniones de expertos sobre el panorama del país, entrevistas, nuestras actividades y ¡más!</p>
                                  <a href="https://bit.ly/RevistaBrujula104" class="btn btn-primary">Léela aquí</a>
                                </div>
                              </div>
                            </div>
                          </div><div class="carousel-item ">     
                            <div class="row">
                              <div class="col-lg-7">
                                <div class="cont-izq">
                                  <img class="d-block" src="https://aeg.pucp.edu.pe/wp-content/uploads/2023/03/banner-convencion.jpg" alt="IV CONVENCIÓN INTERNACIONAL ALUMNI PUCP 2023">
                                </div>
                              </div>
                              <div class="col-lg-5">
                                <div class="cont-der p-4 pt-md-4 pb-md-4 pl-md-2 pr-md-5">
                                  
                                  <img class="logito" src="https://aeg.pucp.edu.pe/wp-content/themes/theme/images/logo-aeg-small.png">
                                  <h3 class="titu-celeste">IV CONVENCIÓN INTERNACIONAL ALUMNI PUCP 2023</h3>
                                  <p>¡Prepárate para vivir una experiencia única! Esta es la oportunidad de conectar, expandir tus horizontes profesionales y ampliar tu red de contactos.</p>
                                  <a href="https://aeg.pucp.edu.pe/actividad/convencion-internacional-alumni-pucp-juntos-liderando-en-el-mundo/" class="btn btn-primary">Más información aquí</a>
                                </div>
                              </div>
                            </div>
                          </div><div class="carousel-item ">     
                            <div class="row">
                              <div class="col-lg-7">
                                <div class="cont-izq">
                                  <img class="d-block" src="https://aeg.pucp.edu.pe/wp-content/uploads/2023/04/promo100-membresia-banner.jpg" alt="¿Ya te afiliaste?">
                                </div>
                              </div>
                              <div class="col-lg-5">
                                <div class="cont-der p-4 pt-md-4 pb-md-4 pl-md-2 pr-md-5">
                                  
                                  <img class="logito" src="https://aeg.pucp.edu.pe/wp-content/themes/theme/images/logo-aeg-small.png">
                                  <h3 class="titu-celeste">¿Ya te afiliaste?</h3>
                                  <p>¡Estás a unos pasos de formar parte de la comunidad Egresados PUCP! <br />
<br />
Podrás disfrutar de todas nuestras actividades y beneficios con tu membresía.<br />
</p>
                                  <a href="https://aeg.pucp.edu.pe/unete-a-la-aeg/afiliacion/proceso-de-afiliacion/" class="btn btn-primary">Más información</a>
                                </div>
                              </div>
                            </div>
                          </div>        </div>
       <!--  <div class="btn-izq">
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
        </div>
        <div class="btn-der">
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div> -->
    <div class="btn-izq">
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
        </div>
        <div class="btn-der">
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>      </div>
    </div>

 

  </div>

</section>

<!--znovedades-->

<section class="zvarios">
  <div class="container">
    <div class="row">
       <div class="col-lg-4 mb-4">
                              <div class="item-celeste text-center d-flex align-items-end"> 
                                <div>    
                                  <div class="cetext p-3">
                                    <img src="https://aeg.pucp.edu.pe/wp-content/uploads/2021/11/ico-amarillo-01.svg">
                                    <h2>Actualiza tus datos</h2>
                                    <p>Mantén el vínculo con la universidad, y mantente informado de las actividades que organizaremos para ti.</p>
                                  </div>
                                  <div class="celink align-items-baseline">
                                    <a href="https://aeg.pucp.edu.pe/actualiza-tus-datos/refuerza-el-vinculo/">ACTUALIZAR MIS DATOS<span><img src="https://aeg.pucp.edu.pe/wp-content/themes/theme/images/ico-flecha-blanco.svg"></span></a>
                                  </div>
                                </div>
                              </div>
                            </div> <div class="col-lg-4 mb-4">
                              <div class="item-celeste text-center d-flex align-items-end"> 
                                <div>    
                                  <div class="cetext p-3">
                                    <img src="https://aeg.pucp.edu.pe/wp-content/uploads/2021/11/ico-amarillo-02.svg">
                                    <h2>Sé parte de la AEG PUCP</h2>
                                    <p>La membresía a la Asociación de Egresados te da acceso a múltiples beneficios y actividades.</p>
                                  </div>
                                  <div class="celink align-items-baseline">
                                    <a href="https://aeg.pucp.edu.pe/unete-a-la-aeg/afiliacion/proceso-de-afiliacion/">¿CÓMO ME AFILIO?<span><img src="https://aeg.pucp.edu.pe/wp-content/themes/theme/images/ico-flecha-blanco.svg"></span></a>
                                  </div>
                                </div>
                              </div>
                            </div> <div class="col-lg-4 mb-4">
                              <div class="item-celeste text-center d-flex align-items-end"> 
                                <div>    
                                  <div class="cetext p-3">
                                    <img src="https://aeg.pucp.edu.pe/wp-content/uploads/2021/12/ico-amarillo-02.png">
                                    <h2>Plataforma de pago online</h2>
                                    <p>Realiza el pago de tu membresía AEG desde donde estés con tu tarjeta de débito o crédito.</p>
                                  </div>
                                  <div class="celink align-items-baseline">
                                    <a href="https://aeg.pucp.edu.pe/unete-a-la-aeg/afiliacion/modalidades-de-pago/">MÁS INFORMACIÓN AQUÍ<span><img src="https://aeg.pucp.edu.pe/wp-content/themes/theme/images/ico-flecha-blanco.svg"></span></a>
                                  </div>
                                </div>
                              </div>
                            </div>        
    </div>
  </div>
</section>



<section class="znovedades">
  <div class="container">

    <h2 class="titu-azul pb-3 text-center">NOVEDADES</h2>

    <div class="row">
      <div class="col-md-6 col-lg-3 mb-lg-0 mb-3">
                            <a href="https://aeg.pucp.edu.pe/eventos/homenaje-al-fundador-de-la-pucp/" class="link">
                              <div class="card h-100">
                                <div class="card-top">
                                   <div class="tag">Eventos</div>
                                  <div class="card-img-top zoom" ><div class="bgimg" style="background-image: url(https://aeg.pucp.edu.pe/wp-content/uploads/2023/03/dintilhac-1-255x165.jpg);"></div></div>
                                </div>  
                                <div class="card-body">
                                  <h3>HOMENAJE AL FUNDADOR DE LA PUCP</h3>
                                  <p class="card-text">El lunes 10 de abril se realizó el Homenaje al R.P. Jorge Dintilhac, fundador de&hellip;</p>
                                </div>
                              </div>
                            </a>
                          </div><div class="col-md-6 col-lg-3 mb-lg-0 mb-3">
                            <a href="https://aeg.pucp.edu.pe/comunidades-en-el-extranjero/la-comunidad-alumnipucp-de-ee-uu-region-1-se-reune-virtualmente-por-primera-vez/" class="link">
                              <div class="card h-100">
                                <div class="card-top">
                                   <div class="tag">Comunidades en el extranjero</div>
                                  <div class="card-img-top zoom" ><div class="bgimg" style="background-image: url(https://aeg.pucp.edu.pe/wp-content/uploads/2022/07/zoom-region-1-255x165.jpg);"></div></div>
                                </div>  
                                <div class="card-body">
                                  <h3>La Comunidad #AlumniPUCP de EE.UU. Región 1 se reúne virtualmente por primera vez</h3>
                                  <p class="card-text">El martes 12 de julio, la Comunidad #AlumniPUCP en EE.UU. Región 1 se reunió virtualmente&hellip;</p>
                                </div>
                              </div>
                            </a>
                          </div><div class="col-md-6 col-lg-3 mb-lg-0 mb-3">
                            <a href="https://aeg.pucp.edu.pe/generacion-pucp/horacio-ramos-nos-habla-su-investigacion-ganadora-de-la-beca-moma-y-su-interes-por-los-museos/" class="link">
                              <div class="card h-100">
                                <div class="card-top">
                                   <div class="tag">Generación PUCP</div>
                                  <div class="card-img-top zoom" ><div class="bgimg" style="background-image: url(https://aeg.pucp.edu.pe/wp-content/uploads/2022/07/horacio-ramos-255x165.png);"></div></div>
                                </div>  
                                <div class="card-body">
                                  <h3>Horacio Ramos nos habla de su investigación ganadora de la beca MoMA y su interés por los museos</h3>
                                  <p class="card-text">Horacio Ramos, egresado de la carrera de Filosofía e Historia del Arte y ganador de&hellip;</p>
                                </div>
                              </div>
                            </a>
                          </div><div class="col-md-6 col-lg-3 mb-lg-0 mb-3">
                            <a href="https://aeg.pucp.edu.pe/generacion-pucp/rodrigo-parra-el-analista-de-datos-del-covid-19-en-el-peru-que-debes-seguir-en-twitter/" class="link">
                              <div class="card h-100">
                                <div class="card-top">
                                   <div class="tag">Generación PUCP</div>
                                  <div class="card-img-top zoom" ><div class="bgimg" style="background-image: url(https://aeg.pucp.edu.pe/wp-content/uploads/2022/07/rodrigo-parra-wong-255x165.jpg);"></div></div>
                                </div>  
                                <div class="card-body">
                                  <h3>Rodrigo Parra, el analista de datos del COVID-19 en el Perú que debes seguir en Twitter</h3>
                                  <p class="card-text">Muchos queremos olvidar que seguimos en una pandemia, pero nos parece importante seguir reconociendo el&hellip;</p>
                                </div>
                              </div>
                            </a>
                          </div>     
    </div>

    <div class="boton-interna text-center">
      <a class="btn btn-outline-primary" href="https://aeg.pucp.edu.pe/novedades-brujula/" role="button">VER MÁS NOVEDADES</a>
    </div>

  </div>
</section>

<!---->

<section class="zbeneficios">
  <div class="container">
    <h2 class="titu-blanco pb-3 text-center">CONOCE NUESTROS BENEFICIOS</h2>
    <div class="row">

  <div class="col-md-4 mb-lg-0 mb-3">
          <div class="item-blanco d-flex align-items-end" style="background: url(https://aeg.pucp.edu.pe/wp-content/uploads/2022/06/rsf6549-1-350x410.jpg); background-size: cover; background-repeat: no-repeat; min-height: 410px;">
                          <div class="betext">
                             <div class="tagi tag-"><span></span>DEPORTE</div>
                            <h2><a href="https://aeg.pucp.edu.pe/beneficio/smart-fit/">Smart Fit</a></h2>
                            <span class="marca">Impúlsate a llegar más lejos con SmartFit, sin matrícula, sin mantenimiento y&hellip;</span>
                          </div>
                        </div>
                      </div> <div class="col-md-4 mb-lg-0 mb-3">
          <div class="item-blanco d-flex align-items-end" style="background: url(https://aeg.pucp.edu.pe/wp-content/uploads/2022/07/6298e39f6bc2f652631334da_networking-350x410.jpg); background-size: cover; background-repeat: no-repeat; min-height: 410px;">
                          <div class="betext">
                             <div class="tagi tag-"><span></span>EDUCACIÓN</div>
                            <h2><a href="https://aeg.pucp.edu.pe/beneficio/posgrado-pucp/">Posgrado PUCP</a></h2>
                            <span class="marca">Impulsa tu carrera para llegar más lejos con los más de 300&hellip;</span>
                          </div>
                        </div>
                      </div> <div class="col-md-4 mb-lg-0 mb-3">
          <div class="item-blanco d-flex align-items-end" style="background: url(https://aeg.pucp.edu.pe/wp-content/uploads/2022/07/banner-aeg-pucp-web-350x390.jpg); background-size: cover; background-repeat: no-repeat; min-height: 410px;">
                          <div class="betext">
                             <div class="tagi tag-"><span></span>CULTURAL</div> <div class="tagi tag-"><span></span>DEPORTE</div>
                            <h2><a href="https://aeg.pucp.edu.pe/beneficio/experiencias/">Experiencias</a></h2>
                            <span class="marca">Vive nuevas experiencias. Descubre lo mejor del Perú.</span>
                          </div>
                        </div>
                      </div> 
    </div>
  

 <div class="boton-interna text-center">
      <a class="btn btn-outline-light" target="_blank" href="https://aeg.pucp.edu.pe/wp-content/themes/theme/unete-a-la-aeg/conoce-nuestros-beneficios/" role="button">Más beneficios</a>
    </div>

  </div>
</section>



<!--zalumni-->
<section class="zalumni">
  <div class="linea"></div>


  <div class="container">
    <h2 class="titu-azul pb-3 text-center">ALUMNI PUCP EN CIFRAS</h2>
    <div class="row">

      <div class="col-lg-5">
        <div class="cifra01 pb-4 h-100">
          <div class="cixlg amarillo d-flex align-items-center justify-content-center text-center h-100">
            <div>
              <img class="" src="https://aeg.pucp.edu.pe/wp-content/uploads/2019/09/ico-ciencias.png">              <div class="texto mt-4">
                <span>89,000+</span>
                egresados              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-7">
        <div class="row cifra02">

        <div class="col-md-6 mb-4">
                                <div class="cixs celeste">
                                  <img class="float-left" src="https://aeg.pucp.edu.pe/wp-content/uploads/2019/09/ico-escuela.png">
                                  <div class="texto">
                                    <span>23,029</span>
                                    asociados
                                  </div>
                                </div>
                              </div><div class="col-md-6 mb-4">
                                <div class="cixs celeste">
                                  <img class="float-left" src="https://aeg.pucp.edu.pe/wp-content/uploads/2019/09/ico-egresado-reside.png">
                                  <div class="texto">
                                    <span>4,092</span>
                                    egresados en cargos directivos
                                  </div>
                                </div>
                              </div><div class="col-md-6 mb-4">
                                <div class="cixs celeste">
                                  <img class="float-left" src="https://aeg.pucp.edu.pe/wp-content/uploads/2019/09/ico-diploma.png">
                                  <div class="texto">
                                    <span>3,556</span>
                                    egresados en el extranjero
                                  </div>
                                </div>
                              </div><div class="col-md-6 mb-4">
                                <div class="cixs celeste">
                                  <img class="float-left" src="https://aeg.pucp.edu.pe/wp-content/uploads/2019/09/ico-egresado-reside.png">
                                  <div class="texto">
                                    <span>24.3%</span>
                                    de nuestros egresados son de Ciencias e Ingeniería
                                  </div>
                                </div>
                              </div>
         


        </div>
      </div>
    </div>

    <div class="boton-interna text-center">
      <a class="btn btn-outline-primary" href="https://aeg.pucp.edu.pe/actualiza-tus-datos/alumni-en-cifras/" role="button">ver todas las cifras</a>
    </div>

  </div>

</section>


<!--zbeneficios-->
<section class="zsiguenos">
  <div class="container">
    <h2 class="titu-azul pb-3 text-center">SÍGUENOS</h2>

    <div class="redes">
      <div class="group">
         <div class="sred"><a target="_blank" href="https://www.facebook.com/egresadosygraduadosPUCP"><img src="https://aeg.pucp.edu.pe/wp-content/themes/theme/images/ico-celeste-face.svg"></a></div>        <div class="sred"><a target="_blank" href="https://twitter.com/egresadosPUCP"><img src="https://aeg.pucp.edu.pe/wp-content/themes/theme/images/ico-celeste-twit.svg"></a></div>        <div class="sred"><a target="_blank" href="https://www.youtube.com/user/aegpucp"><img src="https://aeg.pucp.edu.pe/wp-content/themes/theme/images/ico-celeste-you.svg"></a></div>        <div class="sred"><a target="_blank" href="https://pe.linkedin.com/company/asociacion-de-egresados-y-graduados-de-la-pucp"><img src="https://aeg.pucp.edu.pe/wp-content/themes/theme/images/ico-celeste-link.svg"></a></div>
      </div>
    </div> 
  </div>
</section>

<!--zfoto-->
<section class="zfoto">
  <div class="foto-franja">d</div>
</section>


<!--chatbot-->

<!--suscribir-->


     

 <div class="fixed-bottom zchat" id="zbtnsuscribir">
    <div class="text-right chat-menos"><a target="_blank" href="http://m.me/AlumniPUCP/">conversa con nosotros<span class="ico ico-btn-suscribir"></span></a></div>
</div><!--inicio footer-->


<footer id="zfooter">
  <div class="container">
    <div class="row">
      <div class="foo-1 col-lg-4">
        <h4>Enlaces relacionados</h4>
        <div class="links">
          <ul>
            <li><a href="https://www.pucp.edu.pe/" target="_blank">Home PUCP</a></li><li><a href="https://puntoedu.pucp.edu.pe/" target="_blank">Puntoedu</a></li><li><a href="https://agenda.pucp.edu.pe/" target="_blank">Agenda PUCP</a></li><li><a href="https://btpucp.pucp.edu.pe/" target="_blank">Bolsa de trabajo</a></li><li><a href="http://biblioteca.pucp.edu.pe" target="_blank">Biblioteca PUCP</a></li><li><a href="https://aeg.pucp.edu.pe/unete-a-la-aeg/afiliacion/membresia/" target="_blank">Afíliate a la AEG</a></li>          </ul>
        </div>  
      </div>

      
      <div class="foo-1 col-lg-4 d-flex align-items-baseline justify-content-center">
        <div class="d-none d-sm-block">
          <img src="https://aeg.pucp.edu.pe/wp-content/themes/theme/images/logo-aeg-blanco.png"> 
        </div>
      </div>

      <div class="foo-2 col-lg-4 ml-md-auto">

        <div class="datos">          
          <h4>Ubicación y contacto</h4>
          <p>Asociación de Egresados y Graduados<br />
Av. Universitaria 1801, San Miguel<br />
Lima 32, Lima-Perú<br />
Celular: 914004036<br />
<br />
</p>          
        </div>

        <div class="botones">
          <div class="outline"><a href="https://g.page/AEGPUCP?share" target="_blank" ><span class="out-2"><img src="https://aeg.pucp.edu.pe/wp-content/themes/theme/images/ico-point.svg"></span>Cómo llegar</a></div>
        </div>


        <div class="siguenos">
          <div class="row">
            <div class="col-6">
              <a href="https://aeg.pucp.edu.pe/contacto/">
                <div class="ico">
                  <h5>Contáctenos</h5>
                  <img src="https://aeg.pucp.edu.pe/wp-content/themes/theme/images/img-mail.svg">
                </div>
              </a>
            </div>

            <div class="col-6">
              <a href="https://aeg.pucp.edu.pe/libro-de-reclamaciones/">
                <div class="ico">
                  <h5>Libro de reclamaciones</h5>
                  <img src="https://aeg.pucp.edu.pe/wp-content/themes/theme/images/img-libro.png">
                </div>
              </a>
            </div>
          </div>
        </div>


      </div>
    </div>

  </div>

  <!---->

  <div class="subfooter">
    <div class="container">
      © 2019 Pontificia Universidad Católica del Perú. Todos los derechos reservados. &nbsp;&nbsp;&nbsp;&nbsp;  <a href="https://aeg.pucp.edu.pe/mapa-de-sitio/"><strong>MAPA DEL SITIO</strong></a>
    </div>
  </div>
  <!--fin subfooter-->

</footer>
<!-- fin footer-->



<!--SCRIPT-->
<!-- <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script> -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script type='text/javascript' src='https://aeg.pucp.edu.pe/wp-content/themes/theme/js/extra.js'></script>

<script type='text/javascript' src='https://aeg.pucp.edu.pe/wp-content/themes/theme/js/jquery.cookie.js'></script>
<script type='text/javascript' src='https://aeg.pucp.edu.pe/wp-content/themes/theme/js/jquery.hoverIntent.minified.js'></script>
<script type='text/javascript' src='https://aeg.pucp.edu.pe/wp-content/themes/theme/js/jquery.dcjqaccordion.2.7.min.js'></script>
<script src="https://aeg.pucp.edu.pe/wp-content/themes/theme/js/jquery.matchHeight-min.js"></script>
<script type="text/javascript">
  // $(document).ready(function($){
      jQuery(document).ready(function($) {
        $('.cixs').matchHeight();
        $('.betext').matchHeight();


        

    $('#menu-menu-principal  li ul.sub-menu li.type-custom a').attr('target','_blank').append('<i class="out"></i>');
    $('#menu-movil-principal li ul.sub-menu li.type-custom a').attr('target','_blank').append('<i class="out"></i>');
    $('#menu-movil-principal').dcAccordion({
      eventType: 'click',
      autoClose: true,
      saveState: true,
      disableLink: true,
      speed: 'slow',
      showCount: true,
      autoExpand: true,
      cookie  : 'dcjq-accordion-1',
      classExpand  : 'dcjq-current-parent'
    });

    //selector menú en la móvil
        $('#xelector').change(function(){
            $Campos = $(this).val();
            window.document.location.href='http://aeg.pucp.edu.pe/?p='+$Campos;
        });
  });
</script>
<!--buscador lupa-->
<script type="text/javascript">
   function openbsdprofile() {
    var e = document.getElementById("bsdprofile");
    "none" !== e.style.display ? e.style.display = "none" : e.style.display = "block";
    var e = document.getElementById("search-box");
    "block" !== e.style.display ? e.style.display = "block" : e.style.display = "none";
    var e = document.getElementById("search-icon");
    "none" !== e.style.display ? e.style.display = "none" : e.style.display = "block";
    var e = document.getElementById("close-icon");
    "block" !== e.style.display ? e.style.display = "block" : e.style.display = "none";
  };
</script>
<script type='text/javascript' src='https://aeg.pucp.edu.pe/wp-includes/js/wp-embed.min.js?ver=5.3.2'></script>
<script type="text/javascript" id="slb_context">/* <![CDATA[ */if ( !!window.jQuery ) {(function($){$(document).ready(function(){if ( !!window.SLB ) { {$.extend(SLB, {"context":["public","user_guest"]});} }})})(jQuery);}/* ]]> */</script>
</body>
</html>
<!--
Performance optimized by W3 Total Cache. Learn more: https://www.w3-edge.com/products/


Served from: aeg.pucp.edu.pe @ 2023-07-05 02:30:27 by W3 Total Cache
<script>
  const body = document.querySelector('body'),
    sidebar = body.querySelector('nav'),
    toggle = body.querySelector(".toggle"),
    searchBtn = body.querySelector(".search-box"),
    modeSwitch = body.querySelector(".toggle-switch"),
    modeText = body.querySelector(".mode-text");


  toggle.addEventListener("click", () => {
    sidebar.classList.toggle("close");
  })

  searchBtn.addEventListener("click", () => {
    sidebar.classList.remove("close");
  })

  modeSwitch.addEventListener("click", () => {
    body.classList.toggle("dark");

    if (body.classList.contains("dark")) {
      modeText.innerText = "Light mode";
    } else {
      modeText.innerText = "Dark mode";

    }
  });
</script>
<script>
  var fechaInput = document.getElementById('fecha');

  fechaInput.addEventListener('focus', function () {
    this.classList.add('active');
  });

  fechaInput.addEventListener('blur', function () {
    if (!this.value) {
      this.classList.remove('active');
    }
  });
</script>
<style>
  html {
    height: 100%;
  }


  #fecha {
    color: transparent;
  }

  #fecha.active {
    color: white;
  }


  .login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 550px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
  }



  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }

  .h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }

  .base {
    background-color: transparent;
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
  }

  .login-box .user-box {
    position: relative;
  }

  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }

  .login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }

  .login-box .user-box input:focus~label,
  .login-box .user-box input:valid~label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
  }

  .login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }

  .login-box a:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
      0 0 25px #03e9f4,
      0 0 50px #03e9f4,
      0 0 100px #03e9f4;
  }

  .login-box a span {
    position: absolute;
    display: block;
  }

  .login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
  }

  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }

    50%,
    100% {
      left: 100%;
    }
  }

  .login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }

  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }

    50%,
    100% {
      top: 100%;
    }
  }

  .login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }

  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }

    50%,
    100% {
      right: 100%;
    }
  }

  .login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }

  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }

    50%,
    100% {
      bottom: 100%;
    }
  }

  .login-box .crearr {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;

  }


  .login-box .crear {
    color: #03e9f4;
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    margin-left: 15px;
    letter-spacing: 4px;
    margin-bottom: 80px;

  }

  .login-box .crear:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
      0 0 25px #03e9f4,
      0 0 50px #03e9f4,
      0 0 100px #03e9f4;
  }

  .login-box .crear span {
    position: absolute;
    display: block;
  }

  .login-box .crear span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
  }


  .login-box .crear span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }



  .login-box .crear span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }



  .login-box .crear span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }
</style>