<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bolsa Laboral</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/2.3.0/alpine-ie11.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/tw-elements.min.css" />
  <script src="https://cdn.tailwindcss.com/3.3.0"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="estilos.css">
  <script defer src="https://use.fontawesome.com/releases/v6.4.0/js/all.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap" rel="stylesheet" />
</head>

<body style="background-color: #eaeaea;">
  <!--Encabezado-->
  <nav x-data="{open:false}" style="background: #243b55;">
    <div class=" ml-12 px-2 sm:px-6 lg:px-8">
      <div class="relative flex h-16 items-center justify-between">
        <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
          <button x-on:click="open=!open" type="button"
            class="inline-flex items-center justify-center rounded-md p-2 text-white hover:bg-red-500 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
            aria-controls="mobile-menu" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
              aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
            <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
              aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
        <div class="flex flex-1 items-center justify-center  sm:items-stretch sm:justify-start">
          <div class="flex flex-shrink-0 items-center">
            <img class="block h-8 w-auto lg:hidden" src="images/logo2.png" alt="Your Company">
            <img class="hidden h-8 w-auto lg:block" src="images/logo2.png" alt="Your Company">
          </div>
          <div class="hidden sm:ml-6 sm:block">
            <div class="login-box flex space-x-4">
              <a href="#" class="login-box text-white  hover:text-white rounded-xl px-3 
                  py-2 text-sm font-medium ml-12" aria-current="page">Inicio</a>
              <a href="#" class=" login-box text-white hover:bg-red-500 hover:text-white rounded-xl px-3 
                    py-2 text-sm font-medium ">Candidatos</a>
              <a href="#" class="login-box text-white hover:bg-red-500 hover:text-white rounded-xl px-3 
                    py-2 text-sm font-medium">Quienes Somos</a>
              <a href="#" class="login-box text-white hover:bg-red-500 hover:text-white rounded-xl px-3 
                    py-2 text-sm font-medium">Contactanos</a>
            </div>
          </div>
        </div>
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4">
            <div
              class="login-box absolute  inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
              <button type="button">
                <!--  -->
                <a class=" text-white  hover:text-white rounded-xl px-3 
                  py-2 text-sm font-medium" data-modal-target="authentication-modal"
                  data-modal-toggle="authentication-modal">Registra Tu Empresa</a>
              </button>
              <a class="text-white" style="font-size:40px; font-weight: lighter; margin-bottom: 12px;">|</a>

              <!--Menu 1-->
              <div x-data="{ open:false }" class=" login-box relative ml-3 ">
                <div>
                  <button @click="open=!open" type="button"
                    class="flex rounded-full p-1  text-sm  ml-8  focus:outline-none  focus:ring-white focus:ring-offset-4 focus:ring-offset-red-500"
                    id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                    <span class="sr-only">Abrir menu</span>
                    <a href="#" class="bnt-1 text-white  hover:text-white rounded-xl px-3 
                       py-2 text-sm font-medium">Oferta Laboral</a>
                  </button>
                </div>
                <div x-show="open" @click.away="open=false"
                  class="menu absolute right-0 z-10 mt-2 w-48 origin-top-right  rounded-md   py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
                  role="menu" aria-orientation="vertical" style="background-color: #243b55;"
                  aria-labelledby="user-menu-button" tabindex="-1">

                  <a href="#" class="login-box block px-4 py-2 text-sm text-white hover:bg-red-500" role="menuitem"
                    tabindex="-1" id="user-menu-item-0">Crear Oferta Laboral</a>
                  <a href="#" class="login-box block px-4 py-2 text-sm text-white hover:bg-red-500" role="menuitem"
                    tabindex="-1" id="user-menu-item-1">Registro de Empresas</a>
                </div>
              </div>


              <!--Menu 2-->
              <div x-data="{ open:false }" class="login-box relative ml-3 ">
                <button type="button" class="btn-1" @click="open=!open" id="user-menu-button" aria-expanded="false"
                  aria-haspopup="true">
                  <a href="login" class="bnt-1 text-white  rounded-xl  px-3 
                        py-2 text-sm font-medium mr-16 flex  p-1  
                         focus:outline-none ml-2 ">Iniciar
                    Seción</a>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
  </nav>
  <div class="contenido">


<br><br><br><br>


    <!--Footer-->
    <div class="text-center  " style="width: full;">
      <!-- Footer -->
      <footer class=" text-center text-lg-start text-white " style="background: #243b55;">
        <div class="container p-4 pb-0 ml-48" style="height: 180px;">

          
          <hr class="mb-4" />
          
          <ul class="text-center" style="margin-left: 20%; margin-top: -25px; ">
            <li>
              <a class="facebook"  href="#">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <i class="fa-brands fa-facebook"  aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a class="twitter" href="#">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <i class="fa-brands fa-twitter"></i>
              </a>
            </li>
            <li>
              <a class="instagram" href="#">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <i class="fa-brands fa-instagram"></i>
              </a>
            </li>
            <li>
              <a class="google" href="#">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <i class="fa-brands fa-google-plus"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="text-center p-3 " style="background-color: rgba(0, 0, 0, 0.2) ">
          © 2023 UPeU:
          <a class="text-white" href="https://lamb-academic.upeu.edu.pe/">UPeU.com</a>
        </div>
      </footer>
    </div>
  </div>
  <!-- Registro de empresas  -->
  <div id="authentication-modal" tabindex="-1" aria-hidden="true"
    class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full ">
    <div class="relative w-full max-w-md max-h-full ">
      <!-- Modal content -->
      <div class="relative bg-white rounded-full shadow dark:bg-red-700 ">
        <button type="button"
          class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white"
          data-modal-hide="authentication-modal">
          <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
              clip-rule="evenodd"></path>
          </svg>
        </button>
        <div class="px-6 py-6 lg:px-8 bg-red-100 ">
          <div class="flex">
            <img src="images/80ea793c96e679bd58cff34c427036d6-removebg-preview.png" alt="" srcset="" width="70">
            <h3 class="mb-4 text-xl font-medium text-gray-900 dark:text-white mt-3"> Registrar Empresa Nueva</h3>
          </div>
          <form class="space-y-6 " action="#">
            <div>
              <label for="nombres" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Razon
                Social</label>
              <input type="text" name="nombres" id="nombres"
                class="bg-red-50 border border-red-300 text-red-900 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                placeholder="OpenAI Technologies Inc." required>
            </div>
            <div class="flex">
              <div>
                <label for="apellidos" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">RUC</label>
                <input type="text" name="RUC" id="RUC"
                  class="bg-red-50 border border-red-300 text-red-900 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                  placeholder="20543210987" required>
              </div>
              <div class="ml-4">
                <label for="dni"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Celular/Contacto</label>
                <input type="text" name="dni" id="fecha" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full 
                p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                  placeholder="971845203" required>
              </div>
            </div>
            <div>
              <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Correo
                Electronico</label>
              <input type="email" name="email" id="email"
                class="bg-red-50 border border-red-300 text-red-900 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                placeholder="name@company.com" required>
            </div>
            <div>
              <label for="dni" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Giro de
                Negocios</label>
              <input type="text" name="dni" id="fecha"
                class="bg-red-50 border border-red-300 text-red-900 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                required>
            </div>
            <div>
              <label for="password"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contraseña</label>
              <input type="password" name="password" id="password" placeholder="••••••••"
                class="bg-red-50 border border-red-300 text-red-900 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                required>
            </div>

            <button type="submit"
              class="w-full text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Registrar
              Empresa</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Registro de oferta laboral  -->
  <div id="authentication-modal1" tabindex="-1" aria-hidden="true"
    class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full ">
    <div class="relative w-full max-w-md max-h-full ">
      <div class="relative bg-white rounded-full shadow dark:bg-red-700 ">
        <button type="button"
          class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white"
          data-modal-hide="authentication-modal1">
          <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
              clip-rule="evenodd"></path>
          </svg>
        </button>
        <div class="px-6 py-6 lg:px-8 bg-red-100 ">
          <div class="flex">
            <img src="images/80ea793c96e679bd58cff34c427036d6-removebg-preview.png" alt="" srcset="" width="70">
            <h3 class="mb-4 text-xl font-medium text-gray-900 dark:text-white mt-3"> Crear Oferta Laboral</h3>
          </div>
          <form class="space-y-6 " action="#">
            <div>
              <label for="fecha1" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Fecha de
                Publicacion</label>
              <input type="date" name="Fecha1" id="Fecha1"
                class="bg-red-50 border border-red-300 text-red-900 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                placeholder="02/06/2023" required>
            </div>
            <div class="flex">
              <div>
                <label for="empresa" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombre de la
                  Empresa</label>
                <input type="text" name="empresa" id="empresa"
                  class="bg-red-50 border border-red-300 text-red-900 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                  placeholder="OpenAI Technologies Inc." required>
              </div>
              <div class="ml-4">
                <label for="sueldo" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Suelo</label>
                <input type="number" name="sueldo" id="sueldo"
                  class="bg-red-50 border border-red-300 text-red-900 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                  placeholder="S/." required>
              </div>
            </div>
            <div>

              <label for="dni" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Descripcion de la
                Oferta</label>
              <input type="text" name="dni" id="fecha" style="height: 100px;" class="bg-red-50 border border-red-300 text-red-900 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full 
             p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" required
                placeholder="Descripcion">
            </div>
            <div>
              <label for="dni" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Ubicacion</label>
              <input type="text" name="dni" id="fecha"
                class="bg-red-50 border border-red-300 text-red-900 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                required placeholder="Jr. Los Heores 255">
            </div>

            <button type="submit"
              class="w-full text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Publicar
              Oferta Laboral</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/tw-elements.umd.min.js"></script>
</body>

</html>
<style>
  .bnt-1:hover {
    background-color: #57cfe0;
  }

  nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 999;
  }

  .contenido {
    margin-top: 50px;
  }

  .login-box a:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
      0 0 25px #03e9f4,
      0 0 50px #03e9f4,
      0 0 100px #03e9f4;
  }

  ul {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    display: flex;
  }

  ul li {
    list-style: none;
  }

  ul li a {
    display: block;
    position: relative;
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 40px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    margin: 0 30px;
    transition: 0.5s;
  }

  ul li a span {
    position: absolute;
    transition: transform 0.5s;
  }

  ul li a span:nth-child(1),
  ul li a span:nth-child(3) {
    width: 100%;
    height: 3px;
    background: #ffffff;
  }

  ul li a span:nth-child(1) {
    top: 0;
    left: 0;
    transform-origin: right;
  }

  ul li a:hover span:nth-child(1) {
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s;
  }

  ul li a span:nth-child(3) {
    bottom: 0;
    left: 0;
    transform-origin: left;
  }

  ul li a:hover span:nth-child(3) {
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
  }

  ul li a span:nth-child(2),
  ul li a span:nth-child(4) {
    width: 3px;
    height: 100%;
    background: #404040;
  }

  ul li a span:nth-child(2) {
    top: 0;
    left: 0;
    transform: scale(0);
    transform-origin: bottom;
  }

  ul li a:hover span:nth-child(2) {
    transform: scale(1);
    transform-origin: top;
    transition: transform 0.5s;
  }

  ul li a span:nth-child(4) {
    top: 0;
    right: 0;
    transform: scale(0);
    transform-origin: top;
  }

  ul li a:hover span:nth-child(4) {
    transform: scale(1);
    transform-origin: bottom;
    transition: transform 0.5s;
  }

  .facebook:hover {
    color: #3b5998;
  }

  .facebook:hover span {
    background: #3b5998;
  }

  .twitter:hover {
    color: #1da1f2;
  }

  .twitter:hover span {
    background: #1da1f2;
  }

  .instagram:hover {
    color: #c32aa3;
  }

  .instagram:hover span {
    background: #c32aa3;
  }

  .google:hover {
    color: #dd4b39;
  }

  .google:hover span {
    background: #dd4b39;
  }

  ul li a .twitter {
    color: #1da1f2;
  }

  ul li a:hover:nth-child(3) {
    color: #c32aa3;
  }

  ul li a:hover:nth-child(4) {
    color: #dd4b39;
  }

  /* general */
  body {
    margin: 0;
    padding: 0;
    background: #000000;
  }
</style>